<div class="col-lg-2">
  <ul id="sidebar" class="list-unstyled d-flex d-lg-block">
    <li class="text-center text-lg-left flex-fill">
      <%= link_to 'Personal Details', edit_user_path(@user.id), class: "text-info bg-light d-block py-2 pl-lg-3 mb-2 account-tabs active" %>
    </li>
    <!-- <li class="text-center text-lg-left flex-fill">
      <%= link_to 'Beneficiary', '#', class: "text-info bg-light d-block py-2 pl-lg-3 mb-2 account-tabs" %>
    </li>
    <li class="text-center text-lg-left flex-fill">
      <%= link_to 'Settings', '#', class: "text-info bg-light d-block py-2 pl-lg-3 mb-2 account-tabs" %>
    </li> -->
  </ul>
</div>
