@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');

.quick-view {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 15px;
    background-color: rgba(0,0,0,0.23);
    opacity: 0;
    transition: opacity 0.3s;
}

.quick-view:hover {
    display: flex;
    opacity: 1;
}
a:hover {
    text-decoration: none !important;
}

.property-status {
    position: absolute;
    top: 5px;
    left: 20px;
    padding: 5px 15px;
}

.property-fact-disclaimer {
    font-size: 8pt;
    margin-top: 10px;
}

.pay-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

.pay-image {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
#paymethod .custom-control-label::before {
    top: 0.75em !important;
}
#paymethod .custom-control-label::after {
    top: 0.75em !important;
}

table .td-text-right {
    text-align: right;
}

navigation-clean .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: none;
    background-color: #fff;
    border-radius: 2px;
}

.navigation-clean.navbar .navbar-nav .nav-link {
    padding-left: 18px;
    padding-right: 18px;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    margin-top: 8px !important;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
    background: #eee;
    color: inherit;
}

body {
  margin: 0;
  font-family: 'Signika Negative', sans-serif;
}

nav {
  border-bottom: 1px solid lightgrey;
}
nav > div > div {
  display: flex;
  align-items: center;
}

.nav-links {
  margin-left: auto;
}

.nav-links ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  padding: 20px 15px;
}

.nav-links a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.wrapper {
  background-color: #f1f7fc;
}
.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  width: 35%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.login input {
  padding: 10px;
  background-color: #f1f7fc;
  font-size: 1.1em;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.login button {
  background-color: #17a2b8;
  border: none;
  border-radius: 3px;
  width: 100%;
  color: #fff;
  padding: 10px;
  font-size: 1.1em;
  cursor: pointer;
}
.login .signup {
  display: block;
  text-align: center;
  font-size: 0.9em;
  margin-top: 5px;
  color: grey;
}

.login .forgot {
  display: block;
  text-align: right;
  font-size: 0.9em;
  margin-bottom: 25px;
  margin-top: -3px;
  color: grey;
}

.login .logo {
  text-align: center;
  font-size: 80px;
  color: rgb(23,162,184);
  margin-bottom: 15px;
}
.login button:hover {
  background-color: #138496;
}

.login button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.notice {
  padding: 15px;
  background-color: #f8d7da;
  color: #721c24;
  position: absolute;
  left: 0;
  right: 0;
}

.error {
  padding: 5px;
  background-color: #f8d7da;
  color: #721c24;
  font-weight: 300;
  font-size: 0.8em;
  display:block;
}

.field_with_errors input {
  border-bottom: 1px solid #f8d7da;
}

.account-wrapper {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: flex-start;
}

.account-wrapper ul {
  list-style: none;
  padding: 0;
}

.account-wrapper li {
  flex-basis: 170px;
}

.account-wrapper a {
  color: #17a2b8;
  background-color: #f8f9fa;
  padding: 10px 20px;
  text-decoration: none;
}

.account-wrapper a:hover, .account-wrapper a.active {
  color: #0f6674;
  background-color: #dae0e5;
  border-left: 5px solid #0f6674;
  padding-left: 15px;
}

.heading {
  margin: 50px 0;
  color: #17a2b8;
}

/* .account-form {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 20px;
} */
